SRHM/srhm-soap/src/main/webapp/wsdl/BoxSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.srhm.ufro.cl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.srhm.ufro.cl" xmlns:intf="http://soap.srhm.ufro.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.srhm.ufro.cl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerOcupacionBox">
    <complexType>
     <sequence>
      <element name="boxId" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerOcupacionBoxResponse">
    <complexType>
     <sequence>
      <element name="obtenerOcupacionBoxReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerBoxes">
    <complexType/>
   </element>
   <element name="obtenerBoxesResponse">
    <complexType>
     <sequence>
      <element name="obtenerBoxesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerOcupacionBoxResponse">

      <wsdl:part element="impl:obtenerOcupacionBoxResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerOcupacionBoxRequest">

      <wsdl:part element="impl:obtenerOcupacionBox" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerBoxesResponse">

      <wsdl:part element="impl:obtenerBoxesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerBoxesRequest">

      <wsdl:part element="impl:obtenerBoxes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BoxSOAP">

      <wsdl:operation name="obtenerOcupacionBox">

         <wsdl:input message="impl:obtenerOcupacionBoxRequest" name="obtenerOcupacionBoxRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerOcupacionBoxResponse" name="obtenerOcupacionBoxResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerBoxes">

         <wsdl:input message="impl:obtenerBoxesRequest" name="obtenerBoxesRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerBoxesResponse" name="obtenerBoxesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BoxSOAPSoapBinding" type="impl:BoxSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerOcupacionBox">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerOcupacionBoxRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerOcupacionBoxResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerBoxes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerBoxesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerBoxesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BoxSOAPService">

      <wsdl:port binding="impl:BoxSOAPSoapBinding" name="BoxSOAP">

         <wsdlsoap:address location="http://localhost:8080/srhm-soap/services/BoxSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
