SRHM/srhm-soap/src/main/webapp/wsdl/HoraApsSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.srhm.ufro.cl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.srhm.ufro.cl" xmlns:intf="http://soap.srhm.ufro.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.srhm.ufro.cl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarHoraAPS">
    <complexType>
     <sequence>
      <element name="medicoId" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHoraAPSResponse">
    <complexType>
     <sequence>
      <element name="buscarHoraAPSReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservarHoraAps">
    <complexType>
     <sequence>
      <element name="horaMedicaId" type="xsd:int"/>
      <element name="pacienteId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservarHoraApsResponse">
    <complexType>
     <sequence>
      <element name="reservarHoraApsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservarHoraMedicaControl">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="horasMedicasIds" type="xsd:int"/>
      <element name="pacienteId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservarHoraMedicaControlResponse">
    <complexType>
     <sequence>
      <element name="reservarHoraMedicaControlReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="reservarHoraApsResponse">

      <wsdl:part element="impl:reservarHoraApsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reservarHoraMedicaControlResponse">

      <wsdl:part element="impl:reservarHoraMedicaControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHoraAPSResponse">

      <wsdl:part element="impl:buscarHoraAPSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reservarHoraApsRequest">

      <wsdl:part element="impl:reservarHoraAps" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reservarHoraMedicaControlRequest">

      <wsdl:part element="impl:reservarHoraMedicaControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHoraAPSRequest">

      <wsdl:part element="impl:buscarHoraAPS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HoraApsSOAP">

      <wsdl:operation name="buscarHoraAPS">

         <wsdl:input message="impl:buscarHoraAPSRequest" name="buscarHoraAPSRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarHoraAPSResponse" name="buscarHoraAPSResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reservarHoraAps">

         <wsdl:input message="impl:reservarHoraApsRequest" name="reservarHoraApsRequest">

       </wsdl:input>

         <wsdl:output message="impl:reservarHoraApsResponse" name="reservarHoraApsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reservarHoraMedicaControl">

         <wsdl:input message="impl:reservarHoraMedicaControlRequest" name="reservarHoraMedicaControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:reservarHoraMedicaControlResponse" name="reservarHoraMedicaControlResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HoraApsSOAPSoapBinding" type="impl:HoraApsSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarHoraAPS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarHoraAPSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarHoraAPSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reservarHoraAps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reservarHoraApsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reservarHoraApsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reservarHoraMedicaControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reservarHoraMedicaControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reservarHoraMedicaControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HoraApsSOAPService">

      <wsdl:port binding="impl:HoraApsSOAPSoapBinding" name="HoraApsSOAP">

         <wsdlsoap:address location="http://localhost:8080/srhm-soap/services/HoraApsSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
