SRHM/srhm-soap/src/main/webapp/wsdl/MedicosSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.srhm.ufro.cl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.srhm.ufro.cl" xmlns:intf="http://soap.srhm.ufro.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.srhm.ufro.cl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerMedico">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicoResponse">
    <complexType>
     <sequence>
      <element name="obtenerMedicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerOcupacionMedico">
    <complexType>
     <sequence>
      <element name="medicoId" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerOcupacionMedicoResponse">
    <complexType>
     <sequence>
      <element name="obtenerOcupacionMedicoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicoMasSolicitado">
    <complexType>
     <sequence>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicoMasSolicitadoResponse">
    <complexType>
     <sequence>
      <element name="obtenerMedicoMasSolicitadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarSuDisponibilidad">
    <complexType>
     <sequence>
      <element name="medicoId" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarSuDisponibilidadResponse">
    <complexType>
     <sequence>
      <element name="buscarSuDisponibilidadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicosDeEspecialidad">
    <complexType>
     <sequence>
      <element name="especialidadId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicosDeEspecialidadResponse">
    <complexType>
     <sequence>
      <element name="obtenerMedicosDeEspecialidadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerMedicoRequest">

      <wsdl:part element="impl:obtenerMedico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicoResponse">

      <wsdl:part element="impl:obtenerMedicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarSuDisponibilidadResponse">

      <wsdl:part element="impl:buscarSuDisponibilidadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerOcupacionMedicoResponse">

      <wsdl:part element="impl:obtenerOcupacionMedicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicoMasSolicitadoRequest">

      <wsdl:part element="impl:obtenerMedicoMasSolicitado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerOcupacionMedicoRequest">

      <wsdl:part element="impl:obtenerOcupacionMedico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicosDeEspecialidadResponse">

      <wsdl:part element="impl:obtenerMedicosDeEspecialidadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicosDeEspecialidadRequest">

      <wsdl:part element="impl:obtenerMedicosDeEspecialidad" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicoMasSolicitadoResponse">

      <wsdl:part element="impl:obtenerMedicoMasSolicitadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarSuDisponibilidadRequest">

      <wsdl:part element="impl:buscarSuDisponibilidad" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MedicosSOAP">

      <wsdl:operation name="obtenerMedico">

         <wsdl:input message="impl:obtenerMedicoRequest" name="obtenerMedicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerMedicoResponse" name="obtenerMedicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerOcupacionMedico">

         <wsdl:input message="impl:obtenerOcupacionMedicoRequest" name="obtenerOcupacionMedicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerOcupacionMedicoResponse" name="obtenerOcupacionMedicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerMedicoMasSolicitado">

         <wsdl:input message="impl:obtenerMedicoMasSolicitadoRequest" name="obtenerMedicoMasSolicitadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerMedicoMasSolicitadoResponse" name="obtenerMedicoMasSolicitadoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarSuDisponibilidad">

         <wsdl:input message="impl:buscarSuDisponibilidadRequest" name="buscarSuDisponibilidadRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarSuDisponibilidadResponse" name="buscarSuDisponibilidadResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerMedicosDeEspecialidad">

         <wsdl:input message="impl:obtenerMedicosDeEspecialidadRequest" name="obtenerMedicosDeEspecialidadRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerMedicosDeEspecialidadResponse" name="obtenerMedicosDeEspecialidadResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MedicosSOAPSoapBinding" type="impl:MedicosSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerMedico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerMedicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerMedicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerOcupacionMedico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerOcupacionMedicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerOcupacionMedicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerMedicoMasSolicitado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerMedicoMasSolicitadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerMedicoMasSolicitadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarSuDisponibilidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarSuDisponibilidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarSuDisponibilidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerMedicosDeEspecialidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerMedicosDeEspecialidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerMedicosDeEspecialidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MedicosSOAPService">

      <wsdl:port binding="impl:MedicosSOAPSoapBinding" name="MedicosSOAP">

         <wsdlsoap:address location="http://localhost:8080/srhm-soap/services/MedicosSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
